@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(-45deg, #000000, #40B9B7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

header {
  text-align: center;
  padding: 2rem 2rem;
  color: #ffffff;
}

.content {
  margin: 0 20%;
  background-color: #111F20;
  border-radius: 20px;
}

#form {
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.image{
  width: 100%;
  text-align: center;
}

img {
  width: 50%;
  height: auto;
}

.select-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.margin-bottom {
  margin-bottom: 1rem;
}

select {
  padding: 0.7rem;
  background-color: #34393a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: medium;
  outline: none;
}

#submit-button {
  height: 2.5rem;
  border: none;
  background-color: #535353;
  border-radius: 5px;
  font-size: medium;
  color: #fff;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #999999;
}

.result {
  padding: 0 2rem;
  display: flex;
  justify-content: center;
}

.result-content {
  width: 80%;
  text-align: center;
  background-color: #0f4e4d;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  color: #ffffff;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: larger;
}

a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 2rem;
}

@media (max-width: 800px){
  #form {
    display: block;
  }

  .image {
    margin-bottom: 1rem;
  }

  .result-content {
    width: 100%; 
  }

}

@media (max-width: 490px) {
  .content {
    margin: 0 10%;
  }

  footer {
    display: block;
    text-align: center;
    font-size: small;
  }

  a {
    margin-left: 1rem;
  }

}

@media (max-width: 324px) {
  .content {
    margin: 0 5%;
  }

  header {
    padding: 1.5rem;
  }
}

@media (max-height: 600px) {
  footer {
    position: relative;
    margin-top: 5rem;
    bottom: 1rem;
  }
}



/**Spiner**/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  display: none;
  color: #ffffff;
  top: -50px;
  font-size: 8px;
  margin: 10px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}